.galleryPage{
    display: flex;
    flex-direction: column;
}

.galleryPage__header{
    display: flex;
    align-self: center;
    padding: 55px 0;

}

.functions{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    border: 8px solid deepskyblue;
    border-radius: 4px;
    padding: 30px;
}


.add-block{
    margin: 50px 0 40px 0px;
    display: flex;
    justify-content: center;
}

.add-block__btn{
    background-color: white;
    border: 3px solid black;
    font-size: 24px;
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 10px 70px;
    cursor: pointer;
    
}
.add-block__btn:hover{
    background-color: black;
    color: white;
    border: 3px solid white;
}

.add-block__btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}

.photo-content{
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 1px;
}
.photo-content a {
    text-decoration: none;
}
.photo-title{
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.photo-title:hover{
    background-color: black;
    color: white;
}



.photos{
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .photo{
    width: 350px;
    min-width: 300px;
    position: relative;
    padding: 10px 10px;
    
  }
  
  .photo > a div{
    display: block;
    height: 350px;
    background-position: center;
    background-size: 200%;
    transition: background-size 1s ease-in-out;
    background-repeat: no-repeat;
    
  }
  
  .photo:hover > a div {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  
  .single {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 100px;
    
  }
  
  .single > img {
    width: 100%;
  }

  .no-gallery{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      font-size: 20px;
  }