.row{
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    position: fixed;    
    bottom: 0;
    padding: 10px;
    line-height: 20 px;
    font-size: 14px;
    background: black;
    color: white;
}
footer a{
    padding: 0 15px;
    text-decoration: none;
    color: cadetblue;
}

footer a:hover{
    color: black;
    background-color: white;
    border-radius: 25px;

}