
nav{
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.menu__items {
    height: 100%;
    padding: 5px;
}

.menu__items-list {
    display: flex;
}

.menu__items-list li {
    position: relative;
    list-style-type: none;
    padding: 0px 30px;  
    transition: background 0.3s linear;
}

.menu__items-list li::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 15px;
    top: -5px;
    right: 2px;
    margin-top: 9px;
    width: 3px;
    background-color:white;

}

.menu__items-list li:last-child:after {
    content: none;
}

.menu__items-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: background 0.4s linear;
    border-radius: 7px;
}

.menu__items-list a:hover {
    color: black;
    background-color: white;
    border-radius: 7px;
}

.login{
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 5px 25px;
    border: 2px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
}
.login:hover{
    background-color: black;
    color: white;
}
.signin{
    border-radius: 7px;
    margin: 0px 10px;
    text-transform: uppercase;
    padding: 5px 25px;
    cursor: pointer;
    background-color: deepskyblue;
    color: white;
}
.signin:hover{
    background-color: black;
    color: white;

}
.logout{
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 5px;
    border: 2px solid white;
    color: black;
    cursor: pointer;
}
.logout:hover{
    background-color: black;
    color: white;
}