
nav{
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.menu__items {
    height: 100%;
    padding: 5px;
}

.menu__items:hover {
    border-bottom: 1px solid deepskyblue;
}

.menu__items-list {
    display: flex;
}

.menu__items-list li {
    position: relative;
    list-style-type: none;
    padding: 0px 10px;  
    transition: background 0.3s linear;
}

.menu__items-list li::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 17px;
    top: -7px;
    right: 5px;
    margin-top: 9px;
    width: 2px;
    background-color:white;

}

.menu__items-list li:last-child:after {
    content: none;
}

.menu__items-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: background 0.4s linear;
}

.menu__items-list a:hover {
    color: black;
    background-color: white;
}




.logout{
    border: 2px solid deepskyblue;
    color: white;
    cursor: pointer;
  }